@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

@font-face {
    font-family: pocketMonk;
    src: url(./Fonts/PocketMonk.ttf);
}

@font-face {
    font-family: slumbersWeight;
    src: url(./Fonts/SlumbersWeight.ttf);
}

@font-face {
    font-family: moltors;
    src: url(./Fonts/Moltors.ttf);
}

* {
    box-sizing: border-box;
}
:root {
    --grass: #5FBD58;
    --bug: #92BC2C;
    --dark: #595761;
    --dragon: #0C69C8;
    --electric: #F2D94E;
    --fairy: #EE90E6;
    --fighting: #D3425F;
    --fire: #dc872f;
    --flying: #A1BBEC;
    --ghost: #5F6DBC;
    --ground: #DA7C4D;
    --ice: #75D0C1;
    --normal: #A0A29F;
    --poison: #B763CF;
    --psychic: #ff2ca8;
    --rock: #a38c21;
    --steel: #5695A3;
    --water: #539DDF;
}

.image {
    position: relative;
}
.top img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 40vh;
    aspect-ratio: 1/1;
    z-index: 10;
    object-fit: contain;
}
.circle{
        position: absolute;
        width: 40vh;
        height: 40vh;
        background-color: #ffffff7d;
        border-radius: 50%;
        top: 7%;
        z-index: -1;
}

/* .image img:hover{
    filter: contrast(1);
    transition: 0.5s;
} */

.top{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    

}

.top .id{
        background-color: rgba(0, 0, 0, 0.1);
        padding: 5px 5px;
        border-radius: 10px;
        font-size: 1.5em;
        font-weight: 550;
        margin-top: 25px;
        font-family: 'moltors', sans-serif;
    }
.top .name{
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: 'pocketMonk', sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;

}




    
[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    font-size: 1em;
    font-weight: bold;
    color: rgb(82, 75, 75);
}

.tabs {
    font-size: 1.5em;
    justify-content:space-evenly;
    color: black;
    font-weight: bold;
    font-family: 'pocketMonk', sans-serif;
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.tabs span {
    padding: 10px;
}

.tabs span:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
     text-underline-offset: 0.3em;
    text-decoration-thickness: 0.15em;
}

.listWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 1.25em;
    font-style: oblique;
    font-weight: 500;
    
}

.listItem{
    font-size: 1.25em;
    font-weight: 550;
    margin: auto;
    padding: 1.5rem;
}

.stats{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    font-family: 'moltors', sans-serif;
}
.stats hr{
    width: 100%;
    margin: 5px, 10px;
    padding: 5px, 10px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.37);
}
.stats .stat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 5px, 10px;
    padding: 5px, 10px;
}
.stat div{
    text-align: left;
    margin-top: 5px;
    width: 30%;
}
.stats meter{
    width: 65%;
    height: 2em;
    margin: 5px, 10px;
    padding: 5px, 10px;
    border-radius: 10px;
    border: none;
    position: relative;

}
meter::-webkit-meter-optimum-value{
    background-color: #3dfd64;
}
meter::-webkit-meter-suboptimum-value{
    background-color: #ffb700;
}
meter::-webkit-meter-even-less-good-value{
    background-color: #ff0000;
}
.stats meter::-webkit-meter-bar{
    background-color: rgba(255, 255, 255, 0.529);
    border: none;
}

.poke__type__bg img {
    width: 20px;
    height: 20px;
    margin: 10px;
    overflow: visible;
    border-radius: 100%;

}

.poke__type__bg {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.grass {
    background: var(--grass);
    /* box-shadow: 0 0 20px var(--grass); */
}

.bug {
    background: var(--bug);
    /* box-shadow: 0 0 20px var(--bug); */
}

.dark {
    background: var(--dark);
    /* box-shadow: 0 0 20px var(--dark); */
}

.dragon {
    background: var(--dragon);
    /* box-shadow: 0 0 20px var(--dragon); */
}

.electric {
    background: var(--electric);
    /* box-shadow: 0 0 20px #796d26; */
}

.fairy {
    background: var(--fairy);
    /* box-shadow: 0 0 20px var(--fairy); */
}

.fighting {
    background: var(--fighting);
    /* box-shadow: 0 0 20px var(--fighting); */
}

.flying {
    background: var(--flying);
    /* box-shadow: 0 0 20px var(--flying); */
}

.ghost {
    background: var(--ghost);
    /* box-shadow: 0 0 20px var(--ghost); */
}

.ground {
    background: var(--ground);
    /* box-shadow: 0 0 20px var(--ground); */
}

.ice {
    background: var(--ice);
    /* box-shadow: 0 0 20px var(--ice); */
}

.normal {
    background: var(--normal);
    /* box-shadow: 0 0 20px var(--normal); */
}

.poison {
    background: var(--poison);
    /* box-shadow: 0 0 20px var(--poison); */
}

.psychic {
    background: var(--psychic);
    /* box-shadow: 0 0 20px var(--psychic); */
}

.rock {
    background: var(--rock);
    /* box-shadow: 0 0 20px var(--rock); */
}

.steel {
    background: var(--steel);
    /* box-shadow: 0 0 20px var(--steel); */
}

.water {
    background: var(--water);
    /* box-shadow: 0 0 20px var(--water); */
}

.fire {
    background: var(--fire);
    /* box-shadow: 0 0 20px var(--fire); */
}

.ability, .moves{
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 1.25em;
    font-style: oblique;
    font-weight: 600;
    font-family: 'moltors', sans-serif;
    letter-spacing: 5px;
}

.ability div, .moves div{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}