@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: pocketMonk;
    src: url(./Fonts/PocketMonk.ttf);
}

@font-face {
    font-family: slumbersWeight;
    src: url(./Fonts/SlumbersWeight.ttf);
}

@font-face {
    font-family: moltors;
    src: url(./Fonts/Moltors.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --grass: #5FBD58;
    --bug: #92BC2C;
    --dark: #595761;
    --dragon: #0C69C8;
    --electric: #F2D94E;
    --fairy: #EE90E6;
    --fighting: #D3425F;
    --fire: #dc872f;
    --flying: #A1BBEC;
    --ghost: #5F6DBC;
    --ground: #DA7C4D;
    --ice: #75D0C1;
    --normal: #A0A29F;
    --poison: #B763CF;
    --psychic: #ff2ca8;
    --rock: #a38c21;
    --steel: #5695A3;
    --water: #539DDF;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(46, 46, 46, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #202020;
    border-radius: 10px;
}

.image {
    position: relative;
}
.top img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 40vh;
    aspect-ratio: 1/1;
    z-index: 10;
    object-fit: contain;
}
.circle{
        position: absolute;
        width: 40vh;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.6);
        height: 40vh;
        background-color: #ffffff7d;
        border-radius: 50%;
        top: 7%;
        z-index: -1;
}

/* .image img:hover{
    filter: contrast(1);
    transition: 0.5s;
} */

.top{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    

}

.top .id{
        background-color: rgba(0, 0, 0, 0.1);
        padding: 5px 5px;
        border-radius: 10px;
        font-size: 1.5em;
        font-weight: 550;
        margin-top: 25px;
        font-family: 'moltors', sans-serif;
    }
.top .name{
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: 'pocketMonk', sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;

}



    
[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    font-size: 1em;
    font-weight: bold;
    color: rgb(82, 75, 75);
}

.tabs {
    font-size: 1em;
    justify-content:space-evenly;
    color: black;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.tabs span {
    padding: 10px;
}

.tabs span:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
     text-underline-offset: 0.5em;
    text-decoration-thickness: 0.17em;
}

.listWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 1.25em;
    font-style: oblique;
    
}

.listItem{
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    padding: 1.5rem;
}

.stats{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.stats hr{
    width: 100%;
    margin: 5px, 10px;
    padding: 5px, 10px;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}
.stats .stat{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.stat div{
    text-align: left;
    margin-top: 5px;
    width: 35%;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.stats meter{
    width: 60%;
    height: 1.5em;
    border-radius: 10px;
    border: none;
    position: relative;
    top: 8px;
    padding-right: 5px;
}

meter::-webkit-meter-optimum-value{
    background-color: #23dd48be;
}
meter::-webkit-meter-suboptimum-value{
    background-color: #fdc945e6;
}
meter::-webkit-meter-even-less-good-value{
    background-color: #ff4545e2;
}
.stats meter::-webkit-meter-bar{
    background-color: rgba(183, 183, 183, 0.3);
    border: none;
}

.poke__type__bg img {
    width: 20px;
    height: 20px;
    margin: 10px;
    overflow: visible;
    border-radius: 100%;

}

.poke__type__bg {
    width: 40px;
    height: 40px;
    margin: 10px;
    overflow: visible;
    border-radius: 100%;
}

.grass {
    background: var(--grass);
    box-shadow: 0 0 20px var(--grass);
}

.bug {
    background: var(--bug);
    box-shadow: 0 0 20px var(--bug);
}

.dark {
    background: var(--dark);
    box-shadow: 0 0 20px var(--dark);
}

.dragon {
    background: var(--dragon);
    box-shadow: 0 0 20px var(--dragon);
}

.electric {
    background: var(--electric);
    box-shadow: 0 0 20px #796d26;
}

.fairy {
    background: var(--fairy);
    box-shadow: 0 0 20px var(--fairy);
}

.fighting {
    background: var(--fighting);
    box-shadow: 0 0 20px var(--fighting);
}

.flying {
    background: var(--flying);
    box-shadow: 0 0 20px var(--flying);
}

.ghost {
    background: var(--ghost);
    box-shadow: 0 0 20px var(--ghost);
}

.ground {
    background: var(--ground);
    box-shadow: 0 0 20px var(--ground);
}

.ice {
    background: var(--ice);
    box-shadow: 0 0 20px var(--ice);
}

.normal {
    background: var(--normal);
    box-shadow: 0 0 20px var(--normal);
}

.poison {
    background: var(--poison);
    box-shadow: 0 0 20px var(--poison);
}

.psychic {
    background: var(--psychic);
    box-shadow: 0 0 20px var(--psychic);
}

.rock {
    background: var(--rock);
    box-shadow: 0 0 20px var(--rock);
}

.steel {
    background: var(--steel);
    box-shadow: 0 0 20px var(--steel);
}

.water {
    background: var(--water);
    box-shadow: 0 0 20px var(--water);
}

.fire {
    background: var(--fire);
    box-shadow: 0 0 20px var(--fire);
}

.ability, .moves{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 1.25em;
    font-style: oblique;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

.ability div, .moves div{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.412);
}

.details{
    background-color: rgb(245, 245, 245);
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.6);
    border-radius: 40px 40px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.overview p{
    font-size: 1em;
    font-weight: 600;
    padding: 25px 20px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}
.genus{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}
.types{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heightWeight{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0.329);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 10px;
    font-size: 1.25em;
    margin: 20px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.about{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    text-transform: capitalize;
    padding: 25px 20px;
    text-align: justify;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.previousBtn{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 99999;
    border: none;
    outline: none;
    background-color: #202020;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}
.nextBtn {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99999;
    border: none;
    outline: none;
    background-color: #202020;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}